.mu-appbar,.mu-bottom-nav-shift{
    background-color: $main-color;
}
.mu-appbar-title{
    text-align: center;
}
.mu-buttom-item{
    line-height: 25px;
}
.mu-item-content,.mu-item-title-row{
    position: relative;
}
.mu-date-display{
    background: $main-color;
}
.mu-day-button-bg{
    background: $main-color;
}
.mu-flat-button-primary{
    color: $main-color;
}
.mu-day-button{
    line-height: 26px;
}
.mu-menu-item-wrapper.active{
    color: $main-color;
}
.mu-switch input[type=checkbox]:checked + .mu-switch-wrapper .mu-switch-thumb{
    background-color: $main-color;
    color: $main-color;
}
.mu-switch input[type=checkbox]:checked + .mu-switch-wrapper .mu-switch-track{
    background-color: $main-color;
}
.mu-bottom-nav-shift .mu-bottom-item-active .mu-bottom-item-text{
    transform: scale(1) translate3d(0,-6px,0);
    -webkit-transform: scale(1) translate3d(0,-6px,0);
    -o-transform: scale(1) translate3d(0,-6px,0);
    -ms-transform: scale(1) translate3d(0,-6px,0);
}